![](image.jpg)

It's not that we humans only take debts to manage our necessities. A country may also take debt to manage its economy. For example, infrastructure spending is one costly ingredient required for a country's citizens to lead comfortable lives. [The World Bank](https://www.worldbank.org) is the organization that provides debt to countries.

In this notebook, we are going to analyze international debt data collected by The World Bank. The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories. We are going to find the answers to questions like: 

- What is the total amount of debt that is owed by the countries listed in the dataset?
- Which country owes the maximum amount of debt and what does that amount look like?
- What is the average amount of debt owed by countries across different debt indicators?

Below is a basic schema of the database you will be working with:

## `debt_indicators` table

| Column | Definition | Data Type |
|-|-|-|
|country_name|Name of the country|`varchar`|
|country_code|Code representing the country|`varchar`|
|indicator_name|Description of the debt indicator|`varchar`|
|indicator_code|Code representing the debt indicator|`varchar`|
|debt|Value of the debt indicator for the given country (in current US dollars)|`float`|

You will execute SQL queries to answer six questions, as listed in the instructions.

In [69]:
--num_distinct_countries

SELECT COUNT(DISTINCT country_name) AS total_distinct_countries
FROM international_debt

   total_distinct_countries
0                       124

In [70]:
--distinct_debt_indicators

SELECT COUNT(DISTINCT indicator_code) AS distinct_debt_indicators
FROM international_debt
GROUP BY indicator_code
ORDER BY indicator_code

    distinct_debt_indicators
0                          1
1                          1
2                          1
3                          1
4                          1
5                          1
6                          1
7                          1
8                          1
9                          1
10                         1
11                         1
12                         1
13                         1
14                         1
15                         1
16                         1
17                         1
18                         1
19                         1
20                         1
21                         1
22                         1
23                         1
24                         1

In [71]:
--total_debt
SELECT ROUND(SUM(debt/1000000), 2) AS total_debt
FROM international_debt

   total_debt
0  3079734.49

In [72]:
--highest_debt_country
SELECT country_name, SUM(debt) AS total_debt
FROM international_debt
GROUP BY country_name
ORDER BY total_debt DESC
LIMIT 1

  country_name    total_debt
0        China  2.857935e+11

In [73]:
--avg_debt_per_indicator

SELECT indicator_code AS debt_indicator, indicator_name, AVG(debt) AS average_debt
FROM international_debt
GROUP BY indicator_code, indicator_name
ORDER BY average_debt DESC;

    debt_indicator  ...  average_debt
0   DT.AMT.DLXF.CD  ...  5.904868e+09
1   DT.AMT.DPNG.CD  ...  5.161194e+09
2   DT.DIS.DLXF.CD  ...  2.152041e+09
3   DT.DIS.OFFT.CD  ...  1.958983e+09
4   DT.AMT.PRVT.CD  ...  1.803694e+09
5   DT.INT.DLXF.CD  ...  1.644024e+09
6   DT.DIS.BLAT.CD  ...  1.223139e+09
7   DT.INT.DPNG.CD  ...  1.220411e+09
8   DT.AMT.OFFT.CD  ...  1.191188e+09
9   DT.AMT.PBND.CD  ...  1.082624e+09
10  DT.DIS.MLAT.CD  ...  8.398437e+08
11  DT.INT.PBND.CD  ...  8.047334e+08
12  DT.AMT.PROP.CD  ...  7.468888e+08
13  DT.AMT.PCBK.CD  ...  7.348687e+08
14  DT.INT.PRVT.CD  ...  7.197402e+08
15  DT.AMT.BLAT.CD  ...  7.126196e+08
16  DT.AMT.MLAT.CD  ...  4.900622e+08
17  DT.DIS.PRVT.CD  ...  3.113233e+08
18  DT.INT.OFFT.CD  ...  2.976773e+08
19  DT.DIS.PCBK.CD  ...  2.933052e+08
20  DT.INT.BLAT.CD  ...  1.640933e+08
21  DT.INT.PCBK.CD  ...  1.566476e+08
22  DT.INT.MLAT.CD  ...  1.362307e+08
23  DT.DIS.PROP.CD  ...  8.113516e+07
24  DT.INT.PROP.CD  ...  3.425065e+07

[25 rows x 3 columns]

In [74]:
--highest_principal_repayment
SELECT country_name, indicator_name
FROM international_debt
WHERE debt = (SELECT MAX(debt) FROM international_debt) AND indicator_code = 'DT.AMT.DLXF.CD';

  country_name                                     indicator_name
0        China  Principal repayments on external debt, long-te...